smmap==5.0.1
sounddevice==0.4.7
soundfile==0.12.1
soxr==0.3.7
sql_metadata==2.12.0
sqlparse==0.5.1
st-gsheets-connection==0.0.4
streamlit==1.36.0
streamlit-lottie==0.0.5
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
validators==0.33.0
watchdog==4.0.1
Werkzeug==3.0.3
wrapt==1.16.0
zipp==3.19.2
plotly==5.15.0
